<template class="template">
    <style>
        <link rel="stylesheet" href="/css/style_resume.css">
    </style>
    <div id="inner" >
        <p id="about" class="detailText">
        <span class = "title_ul">About Me</span>
        I am a cross platform full-stack java developer who has independently  built a cross platform
mobile utility application and worked to design and code a cross platform mobile game. During
my cross platform development career, I have worn multiple hats while working on projects.
My technical skills rencompass everything from writing code to graphics design.
        </p>
    </div>
</template>
