<!--Only contains my email for contact info -->
<head>
    <link rel="stylesheet" href="/css/style_resume.css">
</head>
<template class="template">
    <div id="inner">
       <p>
            <br>

            <span class="title"><img class="phone">  Call me, preferably during reasonable hours, at <b>630.284.9425</b></span>
            <br>
            <br>
            <br>
            <span class="title"><img class="email">  Email me at <a href="mailto:ajagoda@u.rochester.edu?Subject=Hello%20" target="_top"><b>ajagoda@u.rochester.edu</b></span>
       </p>
    </div>

</template>
