<head>
    <link rel="stylesheet" href="/css/style_resume.css">
</head>
<template>
    <div id="inner">
        <p class = "detailText">
<span class="title_ul">Application Development: EJuice Toolkit				2015 - current</span>
Designed and programmed a calculator for calculating correct ratios of solutions of eliquid for electronic cigarettes. A free version of the app is currently available on the Google Play market and will also be released on the Apple iOS App store. A paid version will be released shortly that includes the ability to track supplies, rate ejuice recipes and include more features.

<span class="title_ul">Game Development: Forward Strategy					2014 - current</span>
Designed and programmed an indie strategy game with java using LibGDX game engine (game currently in testing phase). Responsible for of the entire game code: overall code design, online multiplayer implementation, user interface, AI, data structures, path finding algorithms and other modules, as well as tests and documentation. Worked on tiled maps, graphics for widgets, music production and game strategy, mechanics and design.
        </p>
    </div>
</template>
