<head>
    <link rel="stylesheet" href="/css/style_resume.css">
</head>
<template class = "template">
    <div id="inner" >
        <p id="skills" class="detailText">
<span class="title"><b>Cross Platform Mobile Game and App Development</b></span>
Using libgdx opensource Java game engine, created cross-platform mobile applications and games. Created GUIs, implemented platform dependent interfaces and used third-party libgdx tools. Used Gradle in IntelliJ and Eclipse IDE to manage project packages. Created and managed Github repositories with project documentation in markdown.

<em><b>Skills: Java, LibGDX, Github, Gradle, IntelliJ, Eclipse</b></em>
_____________________________________________________________________________

<span class="title"><b>Computation and Analysis</b></span>
Created excel worksheets and analyzed data for research projects while studying cognitive science. Implemented and analyzed various search algorithms in both Java and Python. Designed ruled-based and knowledge-based artificial intelligence components. Created simulations in Python and performed statistical analysis on outcomes as various time increments.

<em><b>Skills: Python, Java, Artificial Intelligence, Statistical Analysis, Algorithm Design and Analysis</b></em>
_____________________________________________________________________________

<span class="title">Cloud Service Implementation</span>
Implemented AppWarp SDK in Java for turn-based online multiplayer component in strategy game. Implemented Parse.com data and account management services using REST API to store data and user account information on Parse servers. Created platform dependent Facebook and Google Plus login interfaces.

<em><b>Skills: RESTful Architecture, Network Interfacing, JSON</b></em>
_____________________________________________________________________________

<span class="title">Design and Modeling</span>
Was responsible for game and app design and mechanics. Designed overall software design of cross platform utility application. Used Photoshop and Omnigraffle to create Mockups and Wireframes for app and game GUI. Modelled network and artificial intelligence components uising Omnigraffle and PlantUML. Created app icons using Illustrator.

<em><b>Skills: UML, Omnigraffle, Photoshop, Illustrator</b></em>
_____________________________________________________________________________

<span class="title">Web Development</span>
Used HTML/CSS/Javascript to create this and my personal website. Used Bower to manage packages for the project. Worked on TV chat app for course while in college.
Analyzed human- computer interactions for app by observing customer interactions.

<em><b>Skills: HTML, CSS, Javascript, JQuery, HCI Analysis, Experience-Driven Design</b></em>
        </p>
    </div>
</template>
